<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BookBuy 2020</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 


</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header ">
                <h6 class="ml-2 mt-2"><img src="https://img.icons8.com/color/48/000000/admin-settings-male.png" class="mr-2"/>Administrador</h6>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/estanteria_global"><i class="fas fa-atlas mr-3 ml-2"></i>Estantería Global</a>
                </li>
                <li>
                    <a href="/ventas_globales"><i class="fas fa-money-check-alt mr-2 ml-2"></i>Control de Ventas</a>
                </li>
                 <li>
                    <a href="/envios"><i class="fas fa-shipping-fast mr-2 ml-2"></i>Control de Envios</a>
                </li>
                <li>
                    <a href="/control_usuarios"><i class="fas fa-users mr-2 ml-2"></i>Control de Usuarios</a>
                </li>
                <li>
                    <a href=""  data-toggle="modal" data-target="#exampleModalCenter" ><i class="fas fa-sign-out-alt mr-3 ml-2"></i>Cerrar Sesión</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #6b51e0;">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info mr-2">
                        <i class="fas fa-bars"></i>
                    </button>
                     <img class="mr-2" src="./images/bookMain.png" width="30" height="30" alt=""> <a style="color:rgb(255, 255, 255);" id="title">BookBuy™</a>

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify mr-2"></i>
                    </button>
             
                  
                    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto" id="estilo">
                                   <li class="nav-item dropdown" id="estilo">
                                      <a  class="nav-link dropdown-toggle-split"   id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:rgb(255, 255, 255);">
                                       <i class="fas fa-user-circle mr-2" ></i><strong >{{usuario.username}}<i class="fas fa-caret-right fa-xs ml-2"></i></strong>
                                       </a>
                                      <div class="dropdown-menu text-center" id="cerrarSesion"  aria-labelledby="navbarDropdown">
                                    <a class="nav-link" href="" data-toggle="modal" data-target="#exampleModalCenter" style="color:rgb(255, 255, 255);" ><i class="fas fa-sign-out-alt mr-2" ></i><strong>Cerrar Sesión</strong></a>
                                    </div>
                               </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">

                {{!-- Contenido Principal --}}
                <main class="flex-shrink-0">
                    <div class="banner-img">
                        <div class="container pt-2">
                            {{{body}}}
                        </div>
                    </div>

                </main>
            </div>

         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    

            {{!-- Script bundle con webpack --}}
            <script src="/dist/bundle.js"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('#sidebarCollapse').on('click', function() {
                        $('#sidebar').toggleClass('active');
                    });
                });
            </script>

            <script>
                var slideIndex = 1;
                showDivs(slideIndex);

                function plusDivs(n) {
                    showDivs(slideIndex += n);
                }

                function showDivs(n) {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    if (n > x.length) {
                        slideIndex = 1
                    }
                    if (n < 1) {
                        slideIndex = x.length
                    }
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    x[slideIndex - 1].style.display = "block";
                }
            </script>

                     
         <div class="modal fade" id="exampleModalCenter"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true" >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  {{usuario.username}}, ¿estás seguro que deseas salir?
                </h5>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  Cancelar
                </button>
                <a type="button" class="btn btn-primary mr-3" href="/cerrar_sesion">
                  Si, cerrar sesión
                </a>
              </div>
            </div>
          </div>
        </div>
            

</body>
 <footer class="site-footer ">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Sobre nosotros</h6>
            <p class="text-justify">Somos un sitio web comprometido con satisfacer la necesidad del acceso fácil a recursos relacionados a la lectura nos identificamos como un enlacé entre las comunidad de lectores que existe y lograr facilitar la venta de libros.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Servicios</h6>
            <ul class="footer-links">
              <li><a>Venta de libros</a></li>
              <li><a>Consultoría en ventas</a></li>
              <li><a>Seminarios de ventas</a></li>
              <li><a>Abastecimiento de material didáctico</a></li>
            </ul>
          </div>
        
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Derechos Reservados &copy; 2020 Todos los derechos reservados por
         <a>BookBuy™</a>
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
           <div class="social-icons ml-5">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x" >  </i>
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x" > </i>
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </div>
          </div>
        </div>
      </div>
</footer>



</html>