<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="css/simple-sidebar.css" rel="stylesheet">
   <title>BookBuy 2020</title>
</head>

<body>
    <div class="d-flex" id="wrapper" >
      <!-- Sidebar -->
    <div class="bg-light border-right border-right "  id="sidebar-wrapper"  >
      <div class="sidebar-heading mt-2 "  ><i class="fas fa-users-cog ml-4 mr-2"></i><strong  id="mainLetter">Mi cuenta</strong> </div>
      <hr>
      <div  class="list-group list-group-flush ">
       <a  id="color" href="/crear_libro"  class="list-group-item list-group-item-action bg-light" ><i class="fas fa-plus-circle mr-3"></i>Vender libros</a>
        <a href="/mi_estanteria"  class="list-group-item list-group-item-action bg-light"><i class="fas fa-book mr-3"></i>Mi Estantería</a> 
        <a href="/ver_usuario"   class="list-group-item list-group-item-action bg-light"><i class="fas fa-user-edit mr-3"></i>Perfíl</a>
        <a href="/home_comentarios"   class="list-group-item list-group-item-action bg-light"><i class="fas fa-comments mr-3"></i>Comunidad</a>
        <a href="/home_libro"   class="list-group-item list-group-item-action bg-light"><i class="fas fa-store mr-3"></i>Ir a la Tienda</a>
        <a href="https://media1.tenor.com/images/a41b34e1826772cd72c4f18f5cb6c036/tenor.gif?itemid=12038157"   class="list-group-item list-group-item-action bg-light"><i class="fas fa-info-circle mr-3"></i>Ayuda</a>
        <a  href="/cerrar_sesion" class="list-group-item list-group-item-action bg-light"><i class="fas fa-sign-out-alt mr-3"></i></i>Cerrar Sesión</a>  
        {{!-- <img id="imagenLateral"  src="https://i.pinimg.com/originals/95/a2/4c/95a24ca136b9a0ff1d260fcdb5eb60f2.gif" alt=""> --}}
      </div>
    </div>



    <!-- Page Content -->
    <div id="page-content-wrapper">
         <nav    class="navbar navbar-expand-lg navbar-light  text-center border-bottom" style="background-color: #f1f1f1;" >
                   <a  type="button"   class="nav-link mt-1"  id="menu-toggle"   ><i class="fas fa-bars"></i></a>
                    <a  class="navbar-brand"  href="#">
                    <img src="./images/bookMain.png" width="30" height="30" alt=""> <b>BookBuy™</b>
                    </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
          {{!-- <li class="nav-item active">
            <a class="nav-link" href="#" id="mainLetter"><strong>Comunidad</strong></a>
          </li> --}}
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" id="mainLetter" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong>Categorias</strong> 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Aventura</a>
              <a class="dropdown-item" href="#">Ficción</a>
              <a class="dropdown-item" href="#">Ciencia</a>
            </div>
          </li>
        </ul>

          <li class="nav-item dropdown" id="estilo">
            <a  class="nav-link dropdown-toggle" id="mainLetter"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fas fa-user-circle mr-2"   id="mainLetter" ></i><strong >{{usuario.username}}</strong>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-link" href="/cerrar_sesion" id="salir" id="mainLetter" ><i class="fas fa-sign-out-alt mr-2"></i><strong>Cerrar Sesión</strong></a>
            </div>
          </li>
      </div>
    </nav>
  <div class="container-fluid">
        
        {{!--  Contenido Principal --}}
<main class="flex-shrink-0" >
  <div class="banner-img">
     <div class="container pt-3">
           {{{body}}}
      </div>
  </div>
   
</main>
   </div>
  


    </div>
 </div>
    <!-- /#page-content-wrapper -->

    <!-- /#page-content-wrapper -->

      <!-- Menu Toggle Script -->

      
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
        {{!-- Script bundle con webpack --}}
  <script src="/dist/bundle.js"></script>

  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  
  <script>
 var slideIndex = 1;
 showDivs(slideIndex);
 function plusDivs(n) {
 showDivs(slideIndex += n);
  }
 function showDivs(n) {
 var i;
 var x = document.getElementsByClassName("mySlides");
 if (n > x.length) {slideIndex = 1} if (n < 1) {slideIndex = x.length}for
 (i = 0; i < x.length; i++) {x[i].style.display = "none";}
 x[slideIndex-1].style.display = "block"; }
</script>


</body>
   <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>Sobre nosotros</h6>
            <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa eveniet blanditiis, assumenda, delectus impedit neque excepturi voluptatibus, necessitatibus laudantium doloremque fugiat quod incidunt sint rerum perferendis nobis alias at. At!</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Servicios</h6>
            <ul class="footer-links">
              <li><a>Venta de libros</a></li>
              <li><a>Consultoría en ventas</a></li>
              <li><a>Seminarios de ventas</a></li>
              <li><a>Abastecimiento de material didáctico</a></li>
            </ul>
          </div>
        
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 Todos los derechos reservados por
         <a>BookBuy™</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
           <div class="social-icons ml-5">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x" >  </i>
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x" > </i>
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </div>
          </div>
        </div>
      </div>
</footer>


</html>


