{{>ourMessages}}

<div class="formulario">
<hr>
<h5 class="mt-3 text-center"> <b>Datos del libro</b> </h5>
<hr>

{{!-- Usamos post para el envio de datos --}}

<div class="container col-8 mb-5">

<form method="POST" action="/crear_libro">
  <div class="form-group">
   
    <label for="nombre"> <b>Nombre del libro</b> </label>
    <input required type="text" class="form-control" id="nombre" name="nombre">
<br>
       <label for="nombre"> <b>Autor del libro</b> </label>
    <input required type="text" class="form-control" id="nombre" name="autor">
<br>
   <label for="nombre"> <b>Precio</b> </label>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">L.</span>
  </div>
  <input required type="text" class="form-control" aria-label="Amount (to the nearest dollar)"  id="precio" name="precio">
  <div class="input-group-append">
    <span class="input-group-text">.00</span>
  </div>
</div>

  <br>
   <label for="nombre"> <b>Descripción</b> </label>
   <input required type="text" class="form-control" id="descripcion" name="descripcion">
   <br>
    <label for="nombre"> <b> ISBN del libro</b></label>
    <input  type="text" class="form-control" id="nombre" name="ISBN">

     <input type="text" class="form-control" id="vendedor"  name="vendedor" value="{{usuario.fullname}}" hidden>

<br>
     
<input type="file" name="imagen" />

    </div>
      <button  type="submit" class="btn btn-success  mt-3 mb-5" >Guardar</button>
      <a href="/home_libro"  class="btn btn-danger mt-3 mb-5">Regresar</a>
</form>

</div>


</div>