
{{!-- Mostrar los mensajes en caso de existir --}}
{{#if mensajes}}
  {{#each mensajes}}
   <div class="alert {{type}}" role="alert">
      {{error}}
    </div>
  {{/each}}
{{/if}}

{{!-- Usamos post para el envio de datos --}}
<form>
<div class="formulario">
<hr>
<h1 class="mt-3 text-center"> <b>Datos del libro</b> </h1>
<hr>

<div class="container col-8">

<form method="POST" action="/crear_libro">
  <div class="form-group">
   
    <label for="nombre"> <b>Nombre del libro</b> </label>
    <input type="text" class="form-control" id="nombre" name="nombre">
    
<br>
       <label for="nombre"> <b>Autor del libro</b> </label>
    <input type="text" class="form-control" id="nombre" name="autor">
<br>
   <label for="nombre"> <b>Precio</b> </label>
   <input type="text" class="form-control" id="precio" name="precio">
  <br>
   <label for="nombre"> <b>Descripción</b> </label>
   <input type="text" class="form-control" id="descripcion" name="descripcion">
   <br>
    <label for="nombre"> <b> ISBN del libro</b></label>
    <input type="text" class="form-control" id="nombre" name="ISBN">
<br>
     <label for="nombre"> <b>Fecha del libro</b> </label>
    <input type="text" class="form-control" id="nombre" name="fecha">
<br>
 
 </div>
</form>

<input type="file" name="imagen" />

    </div>
      <button  type="submit" class="btn btn-success  mt-3 mb-5" >Guardar</button>
      <a href="/home_libro"  class="btn btn-danger mt-3 mb-5">Regresar</a>
</form>

</div>




