<hr>
<div class="container mr-12 mt-4">
  {{! Mostrar los proyectos (si existen) }}
  {{#if comentarios}}
    {{#each comentarios}}
      <div class="row justify-content-center">
        <div class="col-2 text-right">
          <a >
            <b> {{dataValues.autor}}</b>
           
          </a>
        </div>

        <div class="col-8 mt-3 mb-4">
          <div class="comentario normal">
            <div class="imgUser">
              <img
                src="https://www.pinpng.com/pngs/m/53-531868_person-icon-png-transparent-png.png"
                alt=""
              />
            </div>
            <div class="caja">
              <p  style="color:rgb(255, 255, 255);">
                "{{dataValues.contenido}}"
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <li class="list-group-item list-group-item-primary text-center">
      <h6>
        Aún no hay conversaciones, ¡Inicia una!
      </h6>
    </li>
  {{/if}}
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST" action="/crear_comentarios">

              <div class="col-md-12">
                    <div class="form-group"> <label for="form_message" id="robotic"></label> <textarea rows="3" id="form_message" name="contenido" class="form-control" placeholder="Escribe tu comentario aquí..."></textarea> </div>
               </div>
     <input
            type="text"
            class="form-control"
            id="vendedor"
            name="autor"
            value="{{usuario.username}}"
            hidden
          />

        <button type="submit" class="btn btn-success  mt-3 mb-5 ml-3">
          Comentar
        </button>
        <a href="/home_libro" class="btn btn-danger mt-3 mb-5 ml-2">
          Regresar
        </a>
      </form>
    </div>
  </div>
</div>
