<section >
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-5">
        <h4 class="text-center">¡Bienvenido! y recuerda</h4>
        <br>
        <h5 class="text-center">En BookBuy, somos más que libros...</h5>
        </div>
    </div>
  </div>
</section>

{{!-- class="bgimage" --}}