<section>
  <div style="height:  10px;">
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-5">
   
        <h4 class="text-center mb-5">
          <b>  {{usuario.fullname}} ¡Disfruta con BookBuy!</b>
        </h4>
      </div>
    </div>
  </div>
</section>
<div class="containe-fluid ">
 <div class="row mb-2 justify-content-center">
    <div class="col-md-6 " id="hoverCardy">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative border-primary">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">¡Disfruta!</strong>
          <h3 class="mb-0">Aprende</h3>
          <div class="mb-1 text-muted">2020</div>
          <p class="card-text mb-auto">Recuerda aprovechar cada momento aprendiendo</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="250" height="250" src="https://image.freepik.com/vector-gratis/quedarse-casa-concepto-personas-computadoras-portatiles_23-2148481218.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></img>
        </div>
      </div>
    </div>

    <div class="col-md-6 " id="hoverCardy">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative border-primary">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">¡Disfruta!</strong>
          <h3 class="mb-0">Diviértete</h3>
          <div class="mb-1 text-muted">2020</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="250" height="250" src="https://image.freepik.com/vector-gratis/ilustracion-concepto-amante-libros_114360-2273.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></img>
        </div>
      </div>
    </div>

  </div>

  <div class="row mb-2 justify-content-center ">
    <div class="col-md-6" id="hoverCardy">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative border-primary">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">¡Disfruta!</strong>
          <h3 class="mb-0">Colabora</h3>
          <div class="mb-1 text-muted">2020</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="250" height="250" src="https://image.freepik.com/vector-gratis/personas-que-leen-libros-estudiar-ilustracion-vectorial_74855-4807.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></img>
        </div>
      </div>
    </div>
 
  <div class="col-md-6 " id="hoverCardy">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative border-primary" >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">¡Disfruta!</strong>
          <h3 class="mb-0">Descubre</h3>
          <div class="mb-1 text-muted">2020</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="250" height="250" src="https://image.freepik.com/vector-gratis/persona-leyendo-libro-sobre-mundo-global_74855-6622.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></img>
        </div>
      </div>
    </div>

  </div>
</div>



<div style="height: 30px;">
</div>

