<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-5">
        <h4 class="text-center">
          ¡Bienvenido a nuestro administrador de BookBuy!
        </h4>
      </div>
    </div>
  </div>
</section>

<div class="mt-7" style="text-align:center;padding:1em 0;">
  <iframe
    src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=small&timezone=America%2FTegucigalpa"
    width="15%"
    height="90"
    frameborder="0"
    seamless
  ></iframe>
</div>

<div style="height: 260px;">
</div>

