
<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
        <h5>En BookBuy, somos más que libros...</h5>
        </div>
    </div>
  </div>
</section>