{{!-- Formulario de Registro --}}



{{!-- Validacion de sequelize que la trae a traves del modelo --}}
{{#if error}}
    <div class="alert alert-danger text-center" role="alert">
  {{error}}
</div>
{{/if}}


<div class="registration-form">
        <form class="form-signin" id="cardLogin" action="" method="POST">
            <h2 class="text-center">Registrate en BookBuy™ </h2>
            <div class="form-icon" >
                <span><i class="icon icon-user"> </i></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" name="username" id="username" placeholder="Ingresa tu nombre de usuario" required autofocus>
            </div>
                <div class="form-group">
                <input type="text" class="form-control item" name="email" id="email" placeholder="ejemplo@gmail.com" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" name="password" id="password" placeholder="Ingresa tu contraseña" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Crear Cuenta</button>
            </div>
              <a class="d-block text-center mt-2 small" href="/iniciar_sesion">Ya tengo una cuenta de BookBuy</a>
        </form>
        <div class="social-media" id="cardLogin">
            <h5 class="mr-auto" >Visita los sitios oficiales de BookBuy™</h5>
            <div class="social-icons ml-5">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x" >  </i>
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x" > </i>
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </div>
        </div>
    </div>

  