{{!-- {{>messages}} --}}

<div class="container mt-5">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><i class="fas fa-key mr-2"></i>Restablece tu contraseña</h5>
            <form class="form-signin" action="/restablecer_password" method="POST">
              <div class="form-label-group">
                <input type="email"  name="email" id="email" class="form-control" placeholder="Ingresa tu cuenta de correo" required autofocus>
                 <label for="email">Ingresa tu cuenta de correo</label>
              </div>


              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Restablecer</button>
                   <div class="text-center mt-2">
                            <a href="/iniciar_sesion">Ir al inicio de sesión</a>
                        </div>
            </form>
          </div>
        </div>
      </div>
    </div>