.header {
    background: url(../images/OpenBook.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }

.header .navbar {
  background-color: transparent !important;
}

.body{
  background-color: antiquewhite;
}