@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    /* background-image: url("./images/Background.jpg"); */
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-family: 'Roboto', sans-serif;
}

b {
    font-family: 'Roboto', sans-serif;
}

#robotic {
    font-family: 'Roboto', sans-serif;
}

#estilo {
    list-style: none;
}

#title {
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #6b51e0;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 7px;
    background: #917bf0;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 5px;
    min-height: 100vh;
    transition: all 0.3s;
}

#comment {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
    color: rgb(255, 255, 255);
}

#comment:hover {
    background-color: #48E68B;
}

#comment1 {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
}

#comment1:hover {
    background-color: #FF6656;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.site-footer {
    background-color: #ecee68;
    margin-top: 8%;
    padding: 45px 0 20px;
    font-size: 15px;
    width: 100%;
    line-height: 24px;
    color: #5a5959;
    bottom: 0;
}

.site-footer hr {
    border-top-color: rgb(34, 34, 34);
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #222222;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuerpocompleto {
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#mainLetter {
    font-size: 18px;
}

#estilo {
    list-style: none;
}

.carousel {
    margin: 0 auto;
    padding: 0 68px;
}

.carousel .carousel-item {
    text-align: center;
    overflow: hidden;
    height: 160px;
}

.carousel .carousel-item .img-box {
    background: #fff;
    padding: 9px;
    box-shadow: 0 6px 20px -6px rgba(0, 0, 0, 0.4);
}

.carousel .carousel-item img {
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    width: 68px;
    background: none;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 28px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -15px;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    margin: 1px 4px;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li {
    background: #999;
    border-color: transparent;
}

.carousel-indicators li.active {
    background: #555;
}

.w3-content {
    position: relative;
    margin-top: 0em;
}

.w3-btn,
.w3-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-btn,
.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.w3-disabled *,
:disabled * {
    pointer-events: none
}

.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.w3-button:hover {
    color: #000!important;
    background-color: #ccc!important
}

.w3-content button {
    position: absolute;
    top: 32%;
}

.w3-display-right {
    right: 0
}

.w3-display-left {
    left: 0
}

#imagenLateral {
    margin-left: 10%;
    margin-top: 20%;
    width: 80%;
    height: 60%;
    text-align: center;
}

#salir {
    color: #ff2e24;
}

#cardHome {
    box-shadow: 2px 2px 5px #999;
    border-color: rgb(167, 167, 167);
    border-width: 4px;
    border-radius: 1em;
}

#cardHome:hover {
    transform: scale(1.02);
    transition: transform 700ms, filter 60ms ease-in-out;
}

#hoverCardy {
    border-color: rgb(17, 17, 17);
    border-width: 12px;
}

#hoverCardy:hover {
    transform: scale(1.02);
    transition: transform 700ms, filter 60ms ease-in-out;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 4px;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-deck {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

@media (max-width: 375px) {
    .card-deck {
        flex-direction: column;
    }
}

.card-body {
    width: 100%;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 8px 12px;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline~.card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.list-type4 {
    width: 410px;
    margin: 0 auto;
}

.list-type4 ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: 4em;
}

.list-type4 a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #5975D9;
    color: white;
    text-decoration: none;
    box-shadow: inset 0.5em 0 black;
    -webkit-transition: box-shadow 1s;
    /* For Safari 3.1 to 6.0 */
    transition: box-shadow 1s;
}

.list-type4 a:hover {
    box-shadow: inset 2em 0 black;
}

.centerText {
    text-align: center;
}

.comentario {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
}

.normal {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: 80px;
}

.inverted {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-left: 80px;
}

.imgUser>img {
    border-radius: 50%;
    width: 50px;
    padding: 10px;
    padding-top: 0px;
}

.caja {
    background: #64a2ff;
    position: relative;
    border-radius: 3px;
    color: white;
    width: 100%;
}

.normal .caja::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid #64a2ff;
    border-left: 20px solid transparent;
    left: -15px;
}

.inverted .caja::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid #64a2ff;
    border-right: 20px solid transparent;
    right: -15px;
    top: 0px;
}

.caja p {
    margin: 0px;
    padding: 5px;
}

.mensajes {
    overflow-y: scroll;
}

.mensajes::-webkit-scrollbar {
    width: 4px;
    background: #DFDFDF;
}

.mensajes::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
}

.mensajes::-webkit-scrollbar-track {
    background: white;
    border-radius: 10px;
}

.mensajes::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.mensajes::-webkit-scrollbar-thumb:hover {
    background: white;
}

.bgimage {
    width: 100%;
    height: 700px;
    background: url('https://wallpaperstock.net/wallpapers/thumbs1/43248wide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bgimage h5 {
    color: white;
    text-shadow: 2px 2px #333;
}

.textarea {
    resize: none;
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}

.contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    /* transform: rotate(29deg); */
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

#cerrarSesion {
    background-color: rgb(223, 136, 136)
}