.header {
    /* background: url(../images/light-blue-cardboard-sheets-against-gray-background-4040654.jpg) no-repeat center; */
    background-size: cover;
    min-height: 100vh;
  }

.header .navbar {
  background-color: transparent !important;
}

/* Para el auth */
.headerAuth {
  background-size: cover;
  min-height: 100vh;
}

textarea{
  resize: none;
}

@media (min-width: 376px) {
  .card-body{
    width: 450px;
  }
}

body {
  background: #007bff;
  background: linear-gradient(to right, #84b9ff, #33AEFF);
}

