{{!-- Formulario de Reestablecer --}}



{{!-- Validacion de sequelize que la trae a traves del modelo --}}
{{#if error}}
    <div class="alert alert-danger text-center" role="alert">
  {{error}}
</div>
{{/if}}