{{!-- Formulario de Reestablecer --}}



{{!-- Validacion de sequelize que la trae a traves del modelo --}}
{{#if error}}
    <div class="alert alert-danger text-center" role="alert">
  {{error}}
</div>
{{/if}}



<div class="reestablecer-form">
        <form class="form-signin" id="cardLogin" action="" method="POST">
            <h2 class="text-center">Reestablecer en BookBuy™ </h2>
            <div class="form-icon" >
                <span><i class="icon icon-user"> </i></span>
            </div>